table.mytable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 50%;
    table-layout: fixed;
    font-size: 16px;
}

table.mytable caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

table.mytable tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table.mytable th,
table.mytable td {
    padding: 0.625em;
    text-align: center;
}

table.mytable th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 600px) {
    table.mytable {
        border: 0;
        width: 100%;
    }

    table.mytable caption {
        font-size: 1.3em;
    }

    table.mytable thead.mythead {
        border: none;
        clip: rect(0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table.mytable tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }

    table.mytable td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table.mytable td::before {
        /*
      * aria-label has no advantage, it won't be read inside a table.mytable
      content: attr(aria-label);
      */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table.mytable td:last-child {
        border-bottom: 0;
    }

    tbody.mytbody td,
    thead.mythead th {
        width: initial !important;
    }
}

/* general styling */
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

thead.mythead,
tbody.mytbody,
table.mytable tr {
    display: block;
}

tbody.mytbody {
    display: block;
    height: 300px; /* Just for the demo          */
    overflow-y: auto; /* Trigger vertical scroll    */
    overflow-x: hidden; /* Hide the horizontal scroll */
}

tbody.mytbody td,
thead.mythead th {
    width: 300px;
}
